<div class="container" id="projects">
	<!-- Project heading -->
	<div class="row" id="project-heading">
		<div class="col-md-12 offset-md-3">
			<p>Check out some of my projects</p>
		</div>
	</div>
	<!-- Project heading ends here -->

	<div class="container">
		<div class="row" *ngFor="let item of createArray(5); let i = index">
			<div class="card-deck">
				<!-- Card 1 starts here -->
				<div class="card" *ngFor="let item of createArray(4); let j = index">
					<img class="card-img-top" src="../../../assets/projects/trigger-word/6.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">{{projects[i*4 + j].title}}</h5>
						<p class="card-text">{{projects[i*4 + j].intro}}</p>
						<a href= "{{ projects[ i*4 + j].url}}" class="btn btn-primary">Details</a>
					</div>
				</div>
				<!-- Card 1 ends here -->
			</div>
		</div>
	</div>
</div>