<!DOCTYPE html>
<html>

<head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Portfolio website, Personel website">
    <meta name="author" content="Susanta">

    <!-- Tab title -->
    <title>Susanta</title>

    <!-- For mobile screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <!-- Navigation Bar starts here -->
    <nav class="navbar navbar-dark bg-dark justify-content-center navbar-expand-lg">
        <a class="navbar-brand" routerLink="homepage"> SUSANTA </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDiv"
            aria-controls="navbarTogglerDiv" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="container">
            <div class="collapse navbar-collapse" id="navbarTogglerDiv">
                <a class="nav-item nav-link" routerLink="/about-me"> About me </a>
                <a class="nav-item nav-link" routerLink="/skills"> Skills </a>
                <a class="nav-item nav-link" routerLink="/experience"> Experience </a>
                <a class="nav-item nav-link" routerLink="/projects"> Projects </a>
                <a class="nav-item nav-link" routerLink="/certificates"> Certifications </a>
            </div>
        </div>
    </nav>
    <!-- Navigation Bar ends here -->
    
    <router-outlet></router-outlet>
</body>

</html>