<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Susanta</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <a routerLink="/homepage">About me</a>
        <a routerLink="/experience">Experience</a>
        <a routerLink="/skills">Skills</a>
        <a routerLink="/projects">Projects</a>
        <a routerLink="/certificates">Certification</a>
        <router-outlet></router-outlet>
</body>

</html>