#footer-data{
    font-size: 1.5rem;
    color:black;
}

#footer-data a{
    color:red;
}


#footer-text{
    background-color: rgb(53, 49, 47);
    margin: 0%;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

