<!-- Homepage component -->
<div class="container">
	<div class="row">
		<app-about-me></app-about-me>
	</div>
	<hr>

	<div class="row">
		<app-skills></app-skills>
	</div>
	<hr>

	<div class="row">
		<app-experience></app-experience>
	</div>
	<hr>

	<div class="row">
		<app-projects></app-projects>
	</div>

	<br><hr><br>
	<div class="container" id="footer-data">
		<div class="row">
			<div class="col-md-12 offset-5">
				<p>Click here for <a routerLink="/certifications">certifications</a></p>
			</div>
		</div>
	</div>
</div>