#custom{
    color: rgb(51, 51, 255);
}

#skills-heading{
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    
}

#custom-headings{
    color: red;
    font-weight: 500;
}

#skills-desc{
    padding: 20px;
}

#skills-listing{
    padding: 20px;
}