<div id="container">
	<!-- Skills Heading starts here -->
	<div class="container">
		<div class="row">
			<div class="col-md-4 offset-md-5" id="skills-heading">
				Skills
			</div>
		</div>
	</div>
	<!-- Skills heading ends here -->

	<br>
	<!-- Skills intro starts here -->
	<div class="container">
		<div class="row" id="skills-desc">
			<p>
				I have experience in designing and developing machine / deep Learning solutions in fields like Computer Vision,
				NLP etc with <span id="custom">Scikit Learn</span> and deep learning frameworks
				like <span id="custom"> Keras and Tensorflow.</span>
				I am well versed with web technologies like <span id="custom">Angular, React, Node.js, Spring Boot</span>. I have sound knowledge in C++ and
				C with sound understanding of <span id="custom">Data Structures and Algorithms</span>.
			</p>
		</div>
	</div>
	<!-- Skills intro ends here -->

	<!-- Skills listing starts here -->
	<div class="container">
		<div class="row" id="skills-listing">
			<p>
				<span id="custom-headings">Programming Languages:</span> C++, C, Python, Java, Javascript, HTML, SQL<br>
				<span id="custom-headings">Machine Learning Frameworks / Libraries / Tools:</span> scikit-learn, TensorFlow, Keras<br>
				<span id="custom-headings">Web Development Frameworks / Libraries:</span> Angular, React.js, Node.js, Spring Boot<br>
				<span id="custom-headings">IDEs / Version Control Systems:</span> Eclipse, Git<br>
				<span id="custom-headings">Operating Systems:</span> Windows, Linux<br>
				<span id="custom-headings">Miscellaneous:</span> Machine Learning, Deep learning, Web Development, Computer Vision,
				NLP<br>

			</p>
		</div>
	</div>
</div>