#cert-heading{
    font-size: 3rem;
    font-weight: bold;
}

#intro{
    font-size: 1.5rem;
    font-weight: 400;
}

#title{
    font-size: 1.5rem;
    font-weight: 400;
}

#project-card{
    width: 350px;
    height: 180px;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    float: right;
}

#title{
    color: red;
    font-weight: bold;
    font-size: 2rem;
}
