<div class="container">
	<!-- Heading starts here -->
	<div class="row">
		<div class="col-md-12 offset-md-5" id="cert-heading">
			<p>Certifications</p>
		</div>
	</div>
	<!-- Heading ends here -->

	<div class="container">
		<div class="row" id="intro">
			<div class="col-md-12 offset-3">
				<p>Here are some of the MOOCs that I have completed</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row" id="title">
			<div class="col-md-12 offset-0">
				<p>deeplearning.ai</p>
			</div>
		</div>
	</div>
	<!-- Certificate cards starts here -->
	<!-- Deep learning.ai certificates -->
	<div class="container">
		<div class="row">
			<div class="card-deck">
				<!-- Card starts here -->
				<div class="card">
					<img class="card-img-top" src="../../assets/certificates/1.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Deep Learning Specialization</h5>
						<p class="card-text"></p>
						<a href="https://www.coursera.org/account/accomplishments/specialization/NZ5MJC7R9W5R" class="btn btn-primary"
						 target="_blank" rel="noreferrer noopener">Details</a>
					</div>
				</div>
				<!-- Card ends here -->

				<!-- Card starts here -->
				<div class="card">
					<img class="card-img-top" src="../../assets/certificates/2.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Sequence Models</h5>
						<p class="card-text"></p>
						<a href="https://www.coursera.org/account/accomplishments/records/VHCEVZ79K44N" class="btn btn-primary" target="_blank"
						 rel="noreferrer noopener">Details</a>
					</div>
				</div>
				<!-- Card ends here -->
			</div>
		</div>

		<div class="row">
			<div class="card-deck">
				<!-- Card starts here -->
				<div class="card">
					<img class="card-img-top" src="../../assets/certificates/3.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Convolutional Neural Networks</h5>
						<p class="card-text"></p>
						<a href="https://www.coursera.org/account/accomplishments/records/9V4TNDEY4DQR" class="btn btn-primary" target="_blank"
						 rel="noreferrer noopener">Details</a>
					</div>
				</div>
				<!-- Card ends here -->

				<!-- Card starts here -->
				<div class="card">
					<img class="card-img-top" src="../../assets/certificates/4.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Improving Deep Neural Networks</h5>
						<p class="card-text"></p>
						<a href="https://www.coursera.org/account/accomplishments/records/5VH9BFCNNKBH" class="btn btn-primary" target="_blank"
						 rel="noreferrer noopener">Details</a>
					</div>
				</div>
				<!-- Card ends here -->
			</div>
		</div>

		<div class="row">
			<div class="card-deck">
				<!-- Card starts here -->
				<div class="card">
					<img class="card-img-top" src="../../assets/certificates/3.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Structuring Machine Learning Projects</h5>
						<p class="card-text"></p>
						<a href="https://www.coursera.org/account/accomplishments/records/ZV2BJ9FYEU8T" class="btn btn-primary" target="_blank"
						 rel="noreferrer noopener">Details</a>
					</div>
				</div>
				<!-- Card ends here -->

				<!-- Card starts here -->
				<div class="card">
					<img class="card-img-top" src="../../assets/certificates/6.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Neural Networks and Deep Learning</h5>
						<p class="card-text"></p>
						<a href="https://www.coursera.org/account/accomplishments/records/UHHUYMSEW44A" class="btn btn-primary" target="_blank"
						 rel="noreferrer noopener">Details</a>
					</div>
				</div>
				<!-- Card ends here -->
			</div>
		</div>
	</div>
	<!-- Certificate cards end here -->
	<!-- Deeplearning.ai ends here -->


	<br>
	<hr>
	<br>


	<!-- Imperial College London certificates -->
	<div class="container">
		<div class="row" id="title">
			<div class="col-md-12 offset-0">
				<p>Imperial College London</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="card-deck">
				<!-- Card starts here -->
				<div class="card">
					<img class="card-img-top" src="../../assets/certificates/13.JPG" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Mathematics for Machine Learning</h5>
						<p class="card-text"></p>
						<a href="https://www.coursera.org/account/accomplishments/specialization/BYEPZAD2XGZP" class="btn btn-primary"
						 target="_blank" rel="noreferrer noopener">Details</a>
					</div>
				</div>
				<!-- Card ends here -->

				<!-- Card starts here -->
				<div class="card">
					<img class="card-img-top" src="../../assets/certificates/11.JPG" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Mathematics for Machine Learning: Linear Algebra</h5>
						<p class="card-text"></p>
						<a href="https://www.coursera.org/account/accomplishments/verify/VZWMDR8P3VRU" class="btn btn-primary" target="_blank"
						 rel="noreferrer noopener">Details</a>
					</div>
				</div>
				<!-- Card ends here -->
			</div>
		</div>

		<div class="row">
			<div class="card-deck">
				<!-- Card starts here -->
				<div class="card">
					<img class="card-img-top" src="../../assets/certificates/12.JPG" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Mathematics for Machine Learning: Multivariate Calculus</h5>
						<p class="card-text"></p>
						<a href="https://www.coursera.org/account/accomplishments/verify/74PNTTQUUYQ7" class="btn btn-primary" target="_blank"
						 rel="noreferrer noopener">Details</a>
					</div>
				</div>
				<!-- Card ends here -->

				<!-- Card starts here -->
				<div class="card">
					<img class="card-img-top" src="../../assets/certificates/10.JPG" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Mathematics for Machine Learning: PCA</h5>
						<p class="card-text"></p>
						<a href="https://www.coursera.org/account/accomplishments/verify/JVFVCQJ7NMTF" class="btn btn-primary" target="_blank"
						 rel="noreferrer noopener">Details</a>
					</div>
				</div>
				<!-- Card ends here -->
			</div>
		</div>
	</div>


	<br>
	<hr>
	<br>


	<!-- Stanford certificates -->
	<div class="container">
		<div class="row" id="title">
			<div class="col-md-12 offset-0">
				<p>Stanford University</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="card-deck">
				<!-- Card starts here -->
				<div class="card">
					<img class="card-img-top" src="../../assets/certificates/7.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Machine Learning</h5>
						<p class="card-text"></p>
						<a href="https://www.coursera.org/account/accomplishments/records/85W5V5336BU9" class="btn btn-primary"
						 target="_blank" rel="noreferrer noopener">Details</a>
					</div>
				</div>
				<!-- Card ends here -->
			</div>
		</div>
	</div>


	<br>
	<hr>
	<br>

	<!-- IIT bombay certificates -->
	<div class="container">
			<div class="row" id="title">
				<div class="col-md-12 offset-0">
					<p>IIT Bombay</p>
				</div>
			</div>
		</div>
		<div class="container" id="single">
			<div class="row">
				<div class="card-deck" >
					<!-- Card starts here -->
					<div class="card" id="single_img">
						<img class="card-img-top" src="../../assets/certificates/8.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">CS101.1xA15: Introduction to Computer Programming</h5>
							<p class="card-text"></p>
							<a href="https://verify.iitbombayx.in/cert/450747c6166c42c49c9804f72d174e4f" class="btn btn-primary"
							 target="_blank" rel="noreferrer noopener">Details</a>
						</div>
					</div>
					<!-- Card ends here -->
				</div>
			</div>
		</div>
</div>