#cert-heading{
    font-size: 3rem;
    font-weight: bold;
}

#project-card{
    width: 350px;
    height: 180px;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    float: right;
}