img{
    height: "240px";
    width: "240px";
}

.profile-circle{
    border-radius: 0%;
    height: 250px;
    width: 240px;
}

#social-icons{
    list-style-type: none;
}

#social-icons li{
    display: inline;
    margin: 10px;
    
}

#heading-name p{
    font-size: 3rem;
}

fa-icon{
    color: black;
}

p{
    margin-left:20px;
}

.btn{
    margin-left: 20px;
}
#social-icons{
    margin-left: 10px;
    padding-left: 5px;
}

@media only screen and (max-width: 991px) and (min-width: 768px){
    #profile-pic{
        margin-top: 22%;
    }    
}

#custom{
    color: rgb(51, 51, 255);
    
}